<!-- within <GlobalNamingResources> ... </GlobalNamingResources> -->
<!--
MySQL: url="jdbc:mysql://dc2-mysql-03.kattare.com/fvdtc"
       driverClassName="com.mysql.jdbc.Driver"
MS SQL: url="jdbc:sqlserver://10.12.0.20:1433;databaseName=CollaborativeCare;user=lmeka;password=xxxxx;"
       driver???   https://msdn.microsoft.com/en-us/library/mt484311(v=sql.110).aspx
-->
<Resource name="jdbc/ansi"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
              url="jdbc:sqlserver://192.168.10.50:1433;databaseName=ansi_sched;integratedSecurity=false;"
              username="ansi_sched.webapp"
              password="@dataflex1997"
              maxActive="2"
              maxIdle="2"
              validationQuery="select SYSDATETIME ()"
              validationQueryTime="1"
              removeAbandoned="true"
              timeBetweenEvictionRunsMillis="30000"
              minEvictableIdleTimeMillis="60000" />

