/* NOTE: All labels are based on Cash Reciepts Register Report*/
.ansi-stdrpt {
	width: 100%;
}
/*All Headers*/
.ansi-stdrpt-header-table {
	width:100%;	
	/*text-align: center*/
	/*border:solid 1px #000000;*/
}
/*Totals*/
.ansi-stdrpt-data-table {	
	text-align: right;
	width:100%;
	font-weight: bold;
}
/*All Headers*/
.ansi-stdrpt-header-row {
	font-weight:bold;
	/*text-align: center;*/
}
/*Empty Header PAC*/
.ansi-stdrpt-empty-header {
	text-align: right;
	

	
}
/*Text Empty Header PAC */
.ansi-stdrpt-col-header-text {
	text-align: right;

	
}
/*Inside all tables Background and Font-Weight*/
.ansi-stdrpt-data-row {
	text-align: right;
	font-weight: normal;
}
/*Totals Font Only*/
.ansi-stdrpt-summary-row {
	text-align: right; 
	
	
}
/*Totals CRR*/
.ansi-stdrpt-summary {	
	text-align: right;
	/*border:solid 1px #000000;*/
}
/*Tighter around Totals*/
.ansi-stdrpt-summary-text {
	/*border-collapse:collapse;
	border:solid 1px #000000;*/
}
/*Totals Font Only*/
.ansi-stdrpt-summary-row {	
	
}
/*Table Headers*/
.ansi-stdrpt-col-header {
	background: black;
	border:solid 1px #000000;
	color: white;
	text-align: center;
}
/*All ANSI Headers*/
.ansi-stdrpt-banner {
	font-size:larger;
	text-align: left;

 	
	
}
/*Also ANSI Headers Background*/
.ansi-stdrpt-banner-text {

}
/*Report Header*/
.ansi-stdrpt-title {
	text-align: center;
	font-size:larger
  	
	
}

/*Report Header Background*/
.ansi-stdrpt-title-text {

}
/*Extra Date Through Header*/
.ansi-stdrpt-subtitle {
	/*display:none;*/  
	text-align: center;
	
}
/*Tight around Extra Date Header*/
.ansi-stdrpt-subtitle-text {
	/*display:none;  */

}
/*??????????*/
.ansi-stdrpt-notes {
	text-align: right;

 	
	
}
/*????????????*/
.ansi-stdrpt-notes-text {
	text-align: right;
}
/*Create and For Headers*/
.css-data-header-left {
	text-align: right;
	width: 50px;
	font-weight:bold;
	/*text-align:left;*/	
}
/*Dates Created and For*/
/*building name, street name column (6mo vol)*/
.css-data-left {
	text-align: left;
	width: 150px;
	font-weight:normal;
	/*text-align:left;*/
}
/*Dates Created and For Tighter*/
.css-data-header-left-text {
	/*text-align:left;*/
}
/*Also Dates Created and For*/
.css-data-left-text {
	text-align: right;
}
/*To and From*/
.css-data-header-right {
	text-align: right;
	width: 150px;
	font-weight:bold;
}
/*To and From Date Detail Page*/
/*data under the dated columns*/
.css-data-right {
	text-align: right;
	width: 150px;
	font-weight: normal;
	/*text-align:left;*/
}
/*To and From Detail Page Tighter*/
.css-data-header-right-text {
	text-align: right;
	font-weight:bold;
	/*text-align:left;*/
}
/*To and From Date Detail Page Tighter*/
.css-data-right-text {
	text-align: right;
	/*text-align:left;*/
}
/*?????????????????*/
.css-data-center {
	text-align: right;
	

}
/*?????????????*/
.css-data-center-text {
	text-align: right;


} 

/*CRR Data Table 1 Column 1: Company*/
.ansi-stdrpt-column-0 {
	text-align: left;
}
/*CRR Detail Page: Client Name*/
.ansi-stdrpt-summary.ansi-stdrpt-column-0 {
	font-weight: bold;
}