body {
	background-color:#e5e5e5;
	color:#333333;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
}
h1 {
	font-size:20px;
	font-weight:bold;
	font-variant:small-caps;
}
#buildDate {
	cursor:pointer;
	text-decoration:none;
	font-size:90%;	
}
#headerNav {
	width:100%;
	background:#000000;
	color:#FFFFFF;
	min-height:25px;
}
#pageContainer {
	width:1650px;
	margin-left:20px;
	background-color:#e5e5e5;
	border:solid 1px #000000;
}
.blue {
	color:#3333FF;
}
.call-note-action-link {
	cursor:pointer;
}
.centered {
	text-align:center;
}
.clickableIcon {
	cursor:pointer;
}
.dropdown-menu {
	background-color:#e5e5e5;
}
.err {
	color:#ce4348;
	font-weight:bold;
}
.formLabel {
	font-weight:bold;
}
.gray {
	color:#404040;
}
.green {
	color:#008000;
}
.inputIsInvalid {
	color:#ce4348;
}
.inputIsValid {
	color:#008000;
}
.jobtag-display {
	border:solid 1px #404040;
	padding:1px;
	spacing:1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	cursor:default;
	font-weight:normal;
}
.jobtag-inactive {
	text-decoration:line-through;
}
.jobtag-selected {
	background:#CC6600;
	color:#FFFFFF;
}
.mainContent {
	padding:20px; 
	clear:both;
}
.menuBar {
	background-color:#000000;
	color:#FFFFFF;
}
.moreInfo {
	color:#3399FF;
	cursor:pointer;
}
.orange {
	color:#CC6600;
}
.prettyButton {
	background-color:#F0F0F0; 
	color:#000000; 
}
.prettyWideButton {
	background-color:#F0F0F0; 
	color:#000000; 
	width:100%;
}
.red {
	color:#ce4348;
}
.required {
	color:#ce4348;
	vertical-align:super;
	font-size:85%;
}
.spacer {
    clear:both;
    width:100%;
    font-size:1px;
    background:transparent;
}
.this_is_a_link {
	cursor:pointer;
}
.trailerText {
	font-family:times roman, serif;
	font-size:12px;
	font-style:italic;
	color:#FFFFFF;
}
.trailerLink {
	color:#FFFFFF;
	text-decoration:none;
}
.tooltip {
	position:relative;
	display:inline-block;
}
.tooltip .tooltiptext {
	border:solid 1px #000000;
	visibility:hidden;
	width:120px;
	background-color:#404040;
	color:#CCCCCC;
	text-align:center;
	padding: 5px;
	border-radious: 6px;
	position:absolute;
	z-index:1;
	font-size:12px;
	
	bottom:100%;
	left:50%;
	margin-left:-60px;   /* .5 * width */
}

.tooltip .tooltiptextleft {
	border:solid 1px #000000;
	visibility:hidden;
	width:120px;
	background-color:#404040;
	color:#CCCCCC;
	text-align:center;
	padding: 5px;
	border-radious: 6px;
	position:absolute;
	z-index:1;
	font-size:12px;
	
	top: -5px;
    left: 105%; 
}

.tooltip:hover .tooltiptext {
	visibility:visible;
}

.tooltip:hover .tooltiptextleft {
	visibility:visible;
}
